* {
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


body {
    box-sizing: border-box;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color:  rgb(255, 178, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bckg-container {
    position: fixed;
    z-index: -1;
    margin-top: -15vh;
    width: 100%;
    height: 100%;
}

.bckg-box {
    position: fixed;
    box-sizing: border-box;
    border: 2px solid white;
    animation-name: bckg-animation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bckg-animation{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform-origin: center;
        transform: rotate(45deg) scale(.5);
        opacity: 0.5;
    }
}

/* form styling */

#search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-field {
    background-color: #ffffff;
    padding: 18px;
    height: 2em;
    width: 70vw;
    max-width: 800px;
    font-size: 1.5em;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#search-field:focus {
    outline: none;   
}

#submit {
    background-color: black;
    color: white;
    font-size: 2em;
    padding: 18px;

    border-style: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    outline: none;
}

#submit:hover {
    background-color: #ffffff;
    color: #F4BF27;
    transition: all .8s;
    outline: 3px solid #F4BF27;
    outline-offset: -3px;
}

#search-icon {
    background-color: inherit;
}

.single-res, .error-msg-res {
    margin: 5px;
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
}

.single-res {
    min-width: 350px;
    max-width: 500px;
    width: 40%;
}

.error-msg-res {
    display: block;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.single-res:hover {
    border-color: #ffffff;
    background-color: rgba(255,255,255,0.35);
    transition: background-color .3s;
    cursor: pointer;
}

.res-image {
    display: block;
    width: 150px;
    margin: 10px;
}

.res-desc {
    height: 100%;
    margin: 10px;
    font-size: 14px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
}

.res-desc p {
    color: #ffffff;
    background-color: #000;
    padding: 5px;
    display: block;

    align-self: flex-start;
}

.multi-res {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
}

.page-title {
    user-select: none;
    font-family: 'Righteous', cursive;
    font-size: 4em;
    margin: 25px;
}

.page-title > span {
    font-family: 'Righteous', cursive;
    color: purple;
}

.pagination-container {
    display: flex;
    justify-content: center;
    width: 90vw;
    margin-bottom: 10px;
}

.single-page {
    box-sizing: border-box;
    border-left: 2px solid rgba(128, 0, 128, 0);
    border-right: 2px solid rgba(128, 0, 128, 0);
    padding: 2px;
    font-size: 1.7em;
    user-select: none;
    font-weight: bold;
    margin: 0 5px;
}

.single-page:hover, .current {
    border-left: 2px solid purple;
    border-right: 2px solid purple;
    color: purple;

}

.movie-desc-background {
    background-color: rgba(0,0,0,.7);
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

}

.movie-desc-frame {
    position: fixed;
    display: flex;
    overflow: hidden;
    max-width: 700px;
    width: 80%;
    border: 2px solid white;
    border-radius: 10px;
    background-color:  rgba(0,0,0,.7);
    gap:20px;
    padding:20px;
    font-size: .8em;
}

#movie-desc-close {
    position: absolute;
    user-select: none;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-color: #000;
    border: 2px solid white;
    border-radius: 50%;
}

#movie-desc-close:hover {
    background-color: #F4BF27;
}

.movie-desc-frame img {
    align-self: flex-start;
}

.movie-desc-frame div {
    color: #fff;

    display: flex;
    flex-direction: column;
}

.movie-desc-frame div > ul {
    list-style: none;
}

li {
    margin: 6px 0;
}


li > span, #movie-desc-rating span {
    background-color: white;
    color: #000;
    padding: 1.5px;
    font-weight: bold;
    display: block;
}

li > p {
    font-weight: lighter;
}

#movie-desc-rating {
    margin-top: 35px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    font-size: 1.5em;
}
